body{
    background: url(sunrise0.jpg)no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}
.head{
    color: #ccc;
    font-size: 50px;
    text-align: center;
}
.weather{
    margin-top: 20px;
}
input[type="text"]{
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
}
.cont{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    background-color: #000000d4;
    color: #ccc;
    max-width: 400px;
    border-radius: 2.5rem;

}
.but{
    border-radius: .5rem;
    background: white;
    font-size: medium;
    font-weight: bolder;
    border-style: hidden;
    width: 10rem;
    height: 2rem;
}
.sub{
    background: white;
    border: none;
    margin-left: 0.2rem;
    border-radius: 20rem;
    height: 3rem;
  
}